.Settings,
.Counter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 200px;
  border: 1px aqua solid;
  margin: 50px auto;
  padding: 10px;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  border: solid 1px aqua;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid aqua;
}

.buttons button {
  background-color: aqua;
  border: none;
  margin-right: 10px;
  width: 50px;
  border-radius: 10px;
}

.maxValue {
  color: red;
}


